.container_chat {
    color: white;
}

* {
    user-select: none;
    -webkit-user-select: none;
}

.navbar_ {
    display: flex;
    justify-content: center;
}

.navbar_ button {
    font-size: 20px;
    border: none;
    background: none;
    color: white;
    padding-right: 50px;
    padding-top: 10px;
    cursor: pointer;
    font-family: b612;
}

.chats_view {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.chats_view button {
    border: none;
    color: white;
    background: none;
    cursor: pointer;
    font-family: b612;
}

.message-view {
    padding: 1px;
}

.h3_blk, .h4_blk {
    padding: 1px;
}

.message-container { 
    width: 500px;
    height: 500px;
    overflow-y: auto;
    padding: 10px;
}

.input_field_chat {
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 15px;
}

.send_field_chat {
    border: none;
    height: 60px;
    width: 100px;
    border-radius: 15px;
    background-color: rgb(37, 172, 255);
    color: white;
    font-size: large;
    cursor: pointer;
}